{{>layouts/header}}

<div class="bg-dark text-white p-5">
    <form action="">
        <input type="text"/>
        <textarea></textarea>
        <button type="submit">Submit</button>
    </form>
</div>

{{>layouts/footer}}